[submodule "commonCMakeScripts"]
	path = commonCMakeScripts
	url = git@github.com:njoy/commonCMakeScripts.git
[submodule "Catch"]
	path = Catch
	url = git@github.com:njoy/Catch.git
[submodule "easyloggingpp"]
	path = easyloggingpp
	url = git@github.com:njoy/easyloggingpp.git
[submodule "utility"]
	path = utility
	url = git@github.com:njoy/utility.git
