[submodule "dependencies/Log"]
	path = dependencies/Log
	url = ../Log.git
	branch = master
[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = ../catch-adapter.git
	branch = master
[submodule "dependencies/header-utilities"]
	path = dependencies/header-utilities
	url = ../header-utilities.git
	branch = master
[submodule "dependencies/disco"]
	path = dependencies/disco
	url = ../disco.git
	branch = master
[submodule "dependencies/range-v3-adapter"]
	path = dependencies/range-v3-adapter
	url = ../range-v3-adapter.git
	branch = master
[submodule "dependencies/variant-adapter"]
	path = dependencies/variant-adapter
	url = ../variant-adapter.git
	branch = master
[submodule "dependencies/hopscotch-map-adapter"]
	path = dependencies/hopscotch-map-adapter
	url = ../hopscotch-map-adapter.git
	branch = master
[submodule "dependencies/hana-adapter"]
	path = dependencies/hana-adapter
	url = ../hana-adapter.git
	branch = master
