[submodule "commonCMakeScripts"]
	path = commonCMakeScripts
	url = https://github.com/njoy/commonCMakeScripts.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/njoy/Catch.git
[submodule "easyloggingpp"]
	path = easyloggingpp
	url = https://github.com/njoy/easyloggingpp.git
[submodule "utility"]
	path = utility
        url = https://github.com/njoy/utility.git
[submodule "disco"]
	path = disco
	url = https://github.com/njoy/disco.git
